{% extends "jpmorgan/layout-content.html" %}

{% block content %}

<div class="jumbotron">
  <h2 class="display-4">{{jumbo.title}}</h2>
  <p class="lead">{{jumbo.lead}}</p>
  <hr class="my-4">
  {% for p in jumbo.body %}
    <p>{{p}}</p>
  {% endfor %}
  <a class="btn btn-primary btn-lg" target="_blank" href="{{ sitemap.jpmccContent }}/{{jumbo.id}}">详情</a>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <div class="embed-responsive-item">
    <script src="{{video.src}}" type="text/javascript"></script>
  </div>
</div>

{% endblock %}
