{% extends "jpmcc/layout-main.html" %}

{% block main %}

<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="embed-responsive embed-responsive-16by9">
      <a class="embed-responsive-item"
        href="{{pitch.link}}"
        target="_blank">
        <img src="{{ sitemap.imgPrefix }}/{{pitch.imageUrl}}" 
          width="100%">
      </a>
    </div>
  </div>
    
  <div class="col-12 col-lg-6 mb-4">
    <div class="embed-responsive embed-responsive-16by9">
      <div class="embed-responsive-item">
        <script src="{{pitch.video}}" type="text/javascript"></script>
      </div>
    </div>
  </div>
</div>


<div class="jumbotron">
  <h2 class="display-4">{{jumbo.title}}</h2>
  <p class="lead">{{jumbo.lead}}</p>
  <hr class="my-4">
  {% markdown %}
    {{jumbo.content}}
  {% endmarkdown %}
</div>

{% endblock %}
