{% extends "jpmcc/layout-main.html" %}

{% block main %}

<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="embed-responsive embed-responsive-16by9">
      <a class="embed-responsive-item"
        href="{{pitch.link}}"
        target="_blank">
        <img src="{{ pitch.imageUrl }}" 
          width="100%">
      </a>
    </div>
  </div>
    
  <div class="col-12 col-lg-6 mb-4">
    <div class="embed-responsive embed-responsive-16by9">
      <div class="embed-responsive-item">
        <script src="{{pitch.video}}" type="text/javascript"></script>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h2 class="display-4">2019摩根大通企业竞跑赛将移师上海国际音乐村</h2>
  <p class="lead">赛事将于11月14日星期四举行，企业报名现已开放</p>
  
  <hr class="my-4">

  {% markdown "jpmcc/articles/home.md" %}
</div>

{% endblock %}
