<!DOCTYPE html>
<html lang="zh-Hans">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">
  <meta name="author" content="FTC Interactive Graphics"> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />

<meta property="og:title" content="{{meta.title}}"/>
<meta property="og:type" content="article"/>
<meta property="og:image" content="{{meta.ogImageUrl}}"/>
<meta property="og:url" content="{{meta.ogUrl}}">
<meta property="og:description" content="{{meta.description}}" />
<meta property="og:locale" content="zh-Hans">
<meta property="og:site_name" content="FT中文网">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@FTChinese">
<meta name="twitter:title" content="{{meta.title}}">
<meta name="twitter:description" content="{{meta.description}}">
<meta name="twitter:image" content="{{meta.ogImageUrl}}">

{% set iconUrl = "http://interactive.ftchinese.com/favicons" %}
<link rel="apple-touch-icon" sizes="180x180" href="{{iconsPath}}/apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{iconsPath}}/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{iconsPath}}/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{iconsPath}}/apple-touch-icon-76x76.png">
<link href="{{iconsPath}}/favicon.ico" type="image/x-icon" rel="shortcut icon" />

<title>{{meta.title}} - FT中文网</title>

{% if env.isProduction %}
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  {% include "jpmcc/partials/style.html" %}
  {% include "jpmcc/partials/analytics.html" %}

{% else %}
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/dev/style/jpmcc.css">
{% endif %}

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" 
      href="{{ sitemap.base }}">
      <img height="100%" src="{{ sitemap.imgPrefix }}/images/cc-logo.png">
    </a>
    <button class="navbar-toggler" 
      type="button" 
      data-toggle="collapse" 
      data-target="#navbarSocialShare" 
      aria-controls="navbarText" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSocialShare">
      <ul class="navbar-nav ml-auto flex-row justify-content-end">
        {% for share in socialShare %}
          <li class="nav-item">
            <a class="nav-link ftc-share__{{share.id}}" 
              href="{{share.href}}" 
              target="_blank"
              title="分享到{{share.name}}">
              <i>{{share.name}}</i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>  
</nav>

<main class="page-content pt-4" role="main">
  <div class="container">
    {% block main %}{% endblock %}
  </div>
</main>

<div class="ftc-bottom-cards pt-4">
  <div class="container">
    <h4 class="p-2">历年精彩回顾</h4>

    <div class="row">
      {% for card in timeline %}
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card mb-4">

            <div class="card-header">
              <a class="stretched-link"
                target="_blank"
                href="{{ sitemap.gallery }}/{{card.year}}{{sitemap.suffix}}">{{card.title}}</a>
            </div>

            <div class="embed-responsive embed-responsive-4by3">
              <img class="embed-responsive-item" 
                src="{{ sitemap.imgPrefix }}/{{card.imageUrl}}"
                width="100%">
            </div>
            
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<footer class="o-footer o-footer--theme-dark">
  <div class="container">
    <div class="o-footer__copyright">
        <span>&#xA9; {{ env.year }} 摩根大通</span>
    </div>
    <div class="text-muted pb-3">
      <small>v{{env.version}}</small>
    </div>     
  </div>      
</footer>

{% if env.isProduction %}
  <script src="https://cdn.bootcss.com/bootstrap.native/2.0.26/bootstrap-native-v4.min.js"></script>

  <script src="http://static.ftchinese.com/js/log.js?v=6"></script>
{% else %}

  <script src="/bootstrap.native/dist/bootstrap-native-v4.js"></script>

{% endif %}

</body>


</html>
