{% extends "layouts/base.html" %}

{% block headerDrawer %}
  <button class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarSocialShare" 
    aria-controls="navbarText" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSocialShare">
    <ul class="navbar-nav ml-auto flex-row justify-content-end">
      {% for share in socialShare %}
        <li class="nav-item">
          <a class="nav-link ftc-share__{{share.id}}" 
            href="{{share.href}}" 
            target="_blank"
            title="分享到{{share.name}}">
            <i>{{share.name}}</i>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block main %}
  {% block content %}{% endblock %}
  
  <div class="ftc-bottom-cards pt-4">
    <div class="container">
      <h4 class="p-2">历年精彩回顾</h4>

      <div class="row">
        {% for card in timeline %}
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card mb-4">

              <div class="card-header">
                <a class="stretched-link"
                  target="_blank"
                  href="{{ card.href }}">{{card.text}}</a>
              </div>

              <div class="embed-responsive embed-responsive-4by3">
                <img class="embed-responsive-item" 
                  src="{{ card.imgSrc }}"
                  width="100%">
              </div>
              
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

