@import "ftc/variables";
@import "ftc/palette.scss";
@import "ftc/mixins.scss";
@import "ftc/normalize.scss";
@import "ftc/button.scss";

$color-wechat: #609700;
$color-weibo: #e6162d;
$color-linkedin: #0977b6;
$color-facebook: #3c5a99;
$color-twitter: #6aa9e0;

$ftc-header-height: 60px; 
$share-icon-size: 24px;

.navbar {
  background-color: rgb(46, 135, 183);

  .nav-item {
    margin-left: 0.5rem;
  }
  .nav-link {
    border-radius: 50%;
    padding: 4px !important;

    &:before {
      content: '';
      display: block;
      width: $share-icon-size;
      height: $share-icon-size;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      position: relative;
    }

    i {
      position: absolute;
      clip: rect(0 0 0 0);
      margin: -1px;
      border: 0;
      overflow: hidden;
      padding: 0;
      width: 1px;
      height: 1px;
      white-space: nowrap;
    }
  }
}

.navbar-brand {
  height: $ftc-header-height;
  padding: 0;
  img {
    object-fit: contain;
  }
}

.ftc-share__wechat {
  background-color: $color-wechat;

  &::before {
    background-image: url("http://interactive.ftchinese.com/social-images/default/wechat.svg");
  }
}

.ftc-share__weibo {
  background-color: $color-weibo;
  &::before {
    background-image: url("http://interactive.ftchinese.com/social-images/default/weibo.svg");
  }
  
}

.ftc-share__linkedin {
  background-color: $color-linkedin;
  &::before {
    background-image: url("http://interactive.ftchinese.com/social-images/default/linkedin.svg");
  }
}

.ftc-share__facebook {
  background-color: $color-facebook;

  &::before {
    background-image: url("http://interactive.ftchinese.com/social-images/default/facebook.svg");
  }
}

.ftc-share__twitter {
  background-color: $color-twitter;
  &::before {
    background-image: url("http://interactive.ftchinese.com/social-images/default/twitter.svg");
  }
}

.embed-responsive {
  background-color: $color-black10;
  .carousel & {
    background-color: $color-black90;
  }
  img {
    object-fit: cover;
  }
  video {
    box-sizing: border-box;
    object-fit: contain;
  }
}

.ftc-article {
  h2, h3 {
    text-align: center;
    margin: 10px 0;
    padding: 0.5em 40px;
    color: $color-black60;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    padding: 0.2em 0;
    color: $color-black60;
    font-size: 1.2
  }
}

.ftc-aside {
	background-color: $color-black5;
	
	h5, h6, p, ul {
		margin: 0;
		padding: 10px;
	}
	h5 {
		border-top: 1px solid;
		border-bottom: 1px dotted;
		border-color: $color-black40;
    background-color: $color-black10;
    color: $color-black60;
		margin-top: 1em;
	}
	p {
		font-size: 16px;
	}
	li {
    line-height: 1.7;
    list-style: none;
	}
}

.ftc-bottom-cards {
  h4 {
    border-top: 1px solid $color-black40;
    background-color: $color-black10;
    color: $color-black60;
  }

  a {
    color: $color-black60;
  }
  .card-header {
    background-color: $color-black5;
  }
}

@import "ftc/footer";
